@using CouponApp.Web.Models.Offer

@model OfferDetailsViewModel

<h2>@Model.Title</h2>

<p>@Model.Description</p>

<p>
    <s>@Model.OriginalPrice</s>
    <strong>@Model.DiscountedPrice</strong>
</p>

<p>
    Merchant: @Model.MerchantName
</p>

@if (Model.RemainingCoupons == 0)
{
    <button class="btn btn-secondary" disabled>
        Sold Out
    </button>
}
else
{
    <p>
        Remaining coupons: @Model.RemainingCoupons
    </p>
}


@if (User.Identity.IsAuthenticated)
{
    <div class="d-flex gap-2">

        <form asp-controller="Reservations"
              asp-action="Create"
              method="post">

            <input type="hidden" name="offerId" value="@Model.Id" />

            <button class="btn btn-outline-primary">
                Reserve
            </button>

        </form>

        <form asp-controller="Coupons"
              asp-action="Purchase"
              method="post">

            <input type="hidden" name="offerId" value="@Model.Id" />

            <button class="btn btn-success">
                Buy Now
            </button>

        </form>

    </div>
}
else
{
    <a asp-controller="Account"
       asp-action="Login"
       asp-route-returnUrl="@Context.Request.Path"
       class="btn btn-primary">
        Login to continue
    </a>
}